	<div class="feedlist" >
			
		<h2 class="content_header">{{vm.registered.weblinkId.title}} <br>
		<strong> Details </strong> </h2>
		<div class="reg_site_detail">
			<div class="reg_site_info clearfix">
				<div class="content_left">
					<div class="">
						<span class="field_title">Username:</span> 
						<span class="field_value">{{vm.registered.username}}</span>
					</div>
					<div class="">
						<span class="field_title">Email:</span> 
						<span class="field_value">{{vm.registered.email}}</span>
					</div>
					<!-- <div class=""> -->
						<h3 class="oauth_detail">Oauth info</h3>
						<div>
							<span class="field_title"> Provider:</span> 
							<span class="field_value">{{vm.registered.oauth.provider}}</span>
						</div>
						<div>
							<span class="field_title">Username/Id:</span> 
							<span class="field_value">{{vm.registered.oauth.user}}</span>
						</div>
					<!-- </div> -->
				</div>
				<div class="content_right">
					<div class="site_note">
						<h4>Notes/ hints</h4>
						<p>{{vm.registered.description}}</p>
					</div>
				</div>
			</div>
			<div class="clearfix">
				<ul class="content_left">
					<li> <span>Site Title :</span> <a href="#/weblink/{{vm.registered.weblinkId._id}}">{{vm.registered.weblinkId.title}}</a></li>
					<li><span>Site Url : </span> <a target="_blank" href="{{vm.registered.weblinkId.url}}">{{vm.registered.weblinkId.url}}</a></li>
					<li> <span>Profile Url :</span> <a target="_blank" href="{{vm.registered.profileUrl}}">{{vm.registered.profileUrl}}</a></li>
					<li><span>Dashboard Url : </span><a target="_blank" href="{{vm.registered.dashboardUrl}}">{{vm.registered.dashboardUrl}}</a></li>
				</ul>
				<div class="content_right">
					<div class="weblink_type ">{{vm.registered.weblinkId.type}}</div>
				</div>
			</div>
		
			
			<p>{{vm.registered.weblinkId.description}}</p>
		</div>

		</div>
 
{{vm.registered.profileUrl}}
