<div class="feedlist" >
		
	<h2 class="content_header">Registered page</h2>

		<ul class="content">
			<li ng-repeat= "register in vm.registered | orderBy:'-_id'">
				<div class="clearfix">
					<div class="content_left">
						<h2 class="content_title">
							<a href="#/weblink/{{register.weblinkId._id}}">{{register.weblinkId.title}}</a>
						</h2>
						<a target="_blank" href="{{register.weblinkId.url}}">{{register.weblinkId.url}}</a>
						<h4 class="prfile_url">ProfileUrl: <a href="{{register.profileUrl}}">{{register.profileUrl}}</a></h4>
					</div>
					<div class="content_right">
						<div class="weblink_type">{{register.weblinkId.type}}</div>
						<a class="btn btn-primary view_more" ui-sref="home.weblinkRegisterDetails({username:register.userId.username,weblinkId:register._id})">View More</a>
							<!-- <a class="btn btn-primary" href="#/home/{{register.userId.username}}/registered/{{register._id}}">see more</a> -->
					</div>
				</div>
			
				<p class="content_description">{{register.weblinkId.description}}</p>
			</li>
		</ul>
	</div>