 
<div class="container" ng-if="vm.message" ng-click="vm.message = null ">
    <div class="row">
      <div class="col-md-12 ">          
        <div class="alert alert-danger">{{vm.message}}</div>
      </div>
    </div>
</div>
 <div class="container">
    <div class="row">
      <div class="col-md-6 col-offset-4">
        <h1><span class="fa fa-sign-in"></span> Login</h1>
            <div class="login-option">
              <div class="authlogin">
                <div class="facebook"></div>
                <div class="google"></div>
              </div>
               <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" ng-model="vm.user.username">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" ng-model="vm.user.password">
                </div>

                <button ng-click="vm.login(vm.user); vm.user= '' " class="btn btn-warning btn-lg">Login</button>
            </div>
               
           

            <hr>

            <p>Need an account? <a href="/#/register">Signup</a></p>
            <p>Or go <a href="/">home</a>.</p>
      </div>
    </div>
  </div>

