<div class="container" ng-if= vm.message>
    <div class="row">
      <div class="col-md-12">          
        <div class="alert alert-danger">{{vm.message}}</div>
      </div>
    </div>
</div>
<div class="container" >
	<div class="row">
		<div class="col-md-4">
			<div class="sidebar component ">
				<div class="simlar follow_component">
					<h2 class="sidebar_component_header"> Similar Website </h2>
					<ul ng-repeat="site in vm.similar">
						<li>
							<h2> <a href="#/weblink/{{site._id}}">{{site.title}}</a></h2>
							<a href="{{site.url}}">{{site.url}}</a>
							<p>{{site.description}}</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="component">
				<ul class="link_meta_info">
					<li>
						<div class="info_title">Bookmark <span class="info_title_result">{{vm.data.weblink.bookmarkUser.length}}</span></div>
					</li>
					<li>
						<div class="info_title">Website User <span class="info_title_result">{{vm.data.weblink.registeredWelink.length}}</span></div>
					</li>
					<li>
						<div ng-show="vm.bookmarked" class="info_title yes">Already Bookmarked
						</div>
						<div ng-hide="vm.bookmarked" class="info_title no">Not Bookmarked
						</div>
					</li>
					<li>
						<div ng-show="vm.data.register" class="info_title yes">Already Registered
						</div>
						<div ng-hide="vm.data.register" class="info_title no">Not Registered
						</div>
					</li>
					<li class="posted_by">
						<div class="info_create_user clearfix">
							<span>Posted By</span>
							<a href="#/user/{{vm.data.weblink.createdBy._id}}">
								<img class="posted_by_avater" ng-src="uploads/{{vm.data.weblink.createdBy.avater}}">
							</a>							
						</div>
					</li>
				</ul>
			</div>
			<div class="linkfeed component">
				<div class="feedlist">	
					<h2 class="login_alert" ng-hide ="vm.data.user"> login to user website bookmarking <a href="#/login" class="btn btn-primary btn-inline">Log In</a></h2>

					<div class=" link_detail">
					<div ng-show ="vm.data.user" class="bookmark-container">
						<button ng-hide="vm.bookmarked" class="btn btn-primary" ng-click="vm.addToBookmark(vm.link_detail._id)">Save This Link</button>
						<div ng-show="vm.bookmarked" class="bookmark_status">this site is in your bookmark list</div>
					</div>
					
						<ul>
							<li><h2 class="">{{vm.link_detail.title}}</h2></li>
							<li><div class="">{{vm.link_detail.url}}</div></li>
							<li><div class="">{{vm.link_detail.type}}</div></li>
							<li><div class="">{{vm.link_detail.description}}</div></li>
						</ul>
							
					</div>
					<div class="link_action">
							<div ng-show= "vm.data.author" class="edit_link">
								<a class="btn btn-primary" ui-sref=".edit">Edit WebLink</a>
								<a class="btn btn-danger" ui-sref=".detete">Delete weblink</a>								
							</div>
							<div ng-show="vm.data.user" class="register_area">
								<div ng-if="vm.data.register" class="register">
									<p>Registered</p>
									<a href="#/home/{{vm.data.user.username}}/registered/{{}}">View Detail</a>
								</div>
								<div ng-if="!vm.data.register" class="unRegister">
									<h3> Not Register</h3>
									<p> If you using this website then u can bookmark this website as a user  </p>
									<a class="btn btn-primary" ui-sref=".registerWeblink">Register Now</a>
								</div>
							</div>
					</div>
				</div>
					<ul class="link_meta_action" ng-show="vm.data.user">
						<li>
							<div class="info_title"><div ng-show ="vm.data.user" class="bookmark-container">
									<button ng-hide="vm.bookmarked" class="btn btn-primary" ng-click="vm.addToBookmark(vm.link_detail._id)">Save This Link</button>
									<div ng-show="vm.bookmarked" class="bookmark_status btn btn-default">site in bookmark list</div>
								</div>
							</div>
						</li>
						<li>
							<div ng-if="!vm.data.registerUser" class="unRegister">
								<a class="btn btn-primary" ui-sref=".registerWeblink">Register Now</a>
							</div>
							<div ng-if="vm.data.registerUser" class="register">
								<a class="btn btn-default" href="#/home/{{vm.data.user.username}}/registered/{{vm.data.registerId}}">View Detail</a>
							</div>
						</li>
						<li>
								<div ng-show= "vm.data.author" class="edit_link">
									<a class="btn btn-primary" ui-sref=".edit">Edit WebLink</a>							
								</div>
						</li>
						<li>
							<div ng-show= "vm.data.author" class="edit_link">
									<a class="btn btn-danger" ui-sref=".detete">Delete weblink</a>								
								</div>
						</li>
					</ul>
				</div>

			<div class="component" >
				<div ui-view ></div>
				
			</div>
		</div>
	</div>
</div>






	