
<div class="container"  >
	<div class="row">
		<div class="col-md-4 fixed-side">
			<div class="sidebar component" >
				<div class="follow_component">
					<div class="follow_component_header">
						<h2 class="sidebar_component_header">Who To Follow</h2>
						<small>.</small>
						<button ng-click="vm.getAllUser()">View all</button>
					</div>
					<div class="who_to_user_list">
						<div ng-show=" vm.followAll" ng-hide=" vm.searchUsers " class="who_to_user clearfix list" ng-repeat="follow in vm.followAll">
							<div class="follow_profile">
								<a ui-sref="singleUser.feed({id:follow._id})" class=""><img ng-src="uploads/{{follow.avater}}"></a>
							</div>
							<div class="info">
								<h4><a ui-sref="singleUser.feed({id:follow._id})" class="user_title">{{follow.name}}</a></h4> <span>{{follow.username}}</span> 
							</div>
							<div class="follow_button">
								<button ng-show="!vm.following"  ng-click= vm.makeFollowing(follow._id) class="button_follow">Follow</button>
								<button ng-show="vm.following"  class="btn btn-danger">following</button>
							</div>
						</div>
						<div ng-show=" vm.follows " ng-hide=" vm.followAll || vm.searchUsers" class="who_to_user clearfix list" ng-repeat="follow in vm.follows">
							<div class="follow_profile">
								<a ui-sref="singleUser.feed({id:follow._id})" class=""><img ng-src="uploads/{{follow.avater}}"></a>
							</div>
							<div class="info">
								<h4><a ui-sref="singleUser.feed({id:follow._id})" class="user_title">{{follow.name}}</a></h4> <span>{{follow.username}}</span> 
							</div>
							<div class="follow_button">
								<button ng-show="!vm.following"  ng-click= vm.makeFollowing(follow._id) class="button_follow">Follow</button>
								<button ng-show="vm.following"  class="btn btn-danger">following</button>
							</div>
						</div>

						<div ng-show ="vm.searchUsers" ng-hide=" vm.followAll " class="who_to_user clearfix list" ng-repeat="searchUser in vm.searchUsers">
							<div class="searchUser">
								<div class="follow_profile">
									<a ui-sref="singleUser.feed({id:searchUser._id})" class=""><img ng-src="uploads/{{searchUser.avater}}"></a>
								</div>
								<div class="info">
									<h4><a ui-sref="singleUser.feed({id:searchUser._id})" class="user_title">{{searchUser.name}}</a></h4> <span>{{searchUser.username}}</span> 
								</div>
								<div class="follow_button">
									<button ng-show="!vm.following"  ng-click= vm.makeFollowing(searchUser._id) class="button_follow">Follow</button>
									<button ng-show="vm.following"  class="btn btn-danger">following</button>
								</div>
							</div>	
						</div>
					</div>			
				</div>
				<div class="find_user">
					 <form class="" role="search" ng-submit="vm.searchUser(search_user)">
		        <div class="form-group ">
		          <input type="text" class="form-control search_input" placeholder="Search User" ng-model="search_user" name="search">
		          <button type="submit" class="btn btn-default search_button">Find User</button>
		        </div>		        
		      </form>
				</div>
			</div>
			<div class="component">
					<div>
						created by imran Hossain
					</div>
					<ul>
						<li>Github : imranMH</li>
						<li>twitter : @imran96</li>
						<li>linked In : imran096</li>
					</ul>
					<small>		
						&copy; bookmarkApp -2017 . All right reserve;
					</small>
			</div>
		</div>
		<div class="col-md-8">
		
			<div ng-if="vm.searchList" class=" component">
				<h2 class="search_title">Search Result for "{{vm.searchString}} "</h2>
				<div class="feedlist" ng-repeat="feed in  vm.searchList | orderBy:'-_id'" >
					
					<div class="profile">
						<a ui-sref="singleUser.feed({id:feed.createdBy._id})" class="">
							<div class="user_title">{{feed.createdBy.name}}</div>
							<div class="profile_pic_feed">
								<img class="profile_pic" ng-src="uploads/{{feed.createdBy.avater}}" alt="">
							</div>													
						</a>
					</div>
					<div class=" post_feed">
							<span class=post_time>{{feed.created_at | amDateFormat : 'DD MMMM YYYY'}} at {{feed.created_at | amDateFormat: 'h:mm a'}}</span>
							<div class="feed_top">
								<h2 class="feed_title"><a ui-sref="weblinkDetail({id:feed._id})">{{feed.title}}</a></h2>
								<div class="content_right">
									<div class="weblink_type">{{feed.type}}</div>
								</div>
							</div>
							<a target="_blank" href="{{feed.url}}">{{feed.url}}</a>
							<p>{{feed.description}}</p>
					</div>
				</div>
			</div>
			<div class="linkfeed component">
				<div class="feedlist" ng-if="vm.feed"  ng-repeat="feed in vm.feedlist | orderBy:'-_id'" >
					
					<div class="profile">
						<a ui-sref="singleUser.feed({id:feed.createdBy._id})" class="">
							<div class="user_title">{{feed.createdBy.name}}</div>
							<div class="profile_pic_feed">
								<img class="profile_pic" ng-src="uploads/{{feed.createdBy.avater}}" alt="">
							</div>													
						</a>
					</div>
					<div class=" post_feed">
							<span class=post_time>{{feed.created_at | amDateFormat : 'DD MMMM YYYY'}} at {{feed.created_at | amDateFormat: 'h:mm a'}}</span>
							<div class="feed_top">
								<h2 class="feed_title"><a ui-sref="weblinkDetail({id:feed._id})">{{feed.title}}</a></h2>
								<div class="content_right">
									<div class="weblink_type">{{feed.type}}</div>
								</div>
							</div>
							<a target="_blank" href="{{feed.url}}">{{feed.url}}</a>
							<p>{{feed.description}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


