<div class="container" ng-if= vm.message>
    <div class="row">
      <div class="col-md-12">          
        <div class="alert alert-danger">{{vm.message}}</div>
      </div>
    </div>
</div>
<div class="container" >
	<div class="row">
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-12">
				<!-- file uppload using angular directive -->
					<div class="widget_avater component">
						<form  name="vm.upload_form">
								<div class="upload_photo">
										Select a image to Upload (300 * 300) Max
			            <input 
			               type="file" 
			               ngf-select 
			               ng-model="vm.file" 
			               name="file" 
			               ngf-pattern="'image/*'"
			               accept="image/*" 
			               ngf-max-size="2MB" 
			               />
			               <button type="submit" class="btn btn-primary" ng-click="vm.submit()">Upload Image</button>
		            
								</div>
	              
		               <!-- Drop files: <div ngf-drop ng-model="files" class="drop-box"></div> -->
		              <div class="preview">
		              	 <img style="width:100px; height:100px;" ngf-thumbnail="vm.file || 'uploads/{{ vm.user.avater }}'"/>
					            Profile Preview
					            <i ng-show="vm.upload_form.file.$error.required">*required</i><br>
					            <i ng-show="vm.upload_form.file.$error.maxSize">File too large 
					            {{vm.file.size / 1000000|number:1}}MB: max 20M</i>
					            <p>{{vm.progress}} </p>
		              </div>
		           
		            
		        </form>
					</div>
				</div>
				<div class="col-md-12">
					<div class=" component user_personal_info_container">
						<button ng-click="ShowPassword = !ShowPassword" class="show_change_p btn btn-default">Chenge Password</button>
						<div>{{vm.status}}</div>
						<div class="cp" ng-show="ShowPassword">
								Old Password: <input type="password" ng-model="password.oldPassword" name="old_password" class="form-control">
								New Password: <input type="password" name="new_password" ng-model="password.newPassword" class="form-control">
								Confarm New Password: <input type="password" name="new_password2" ng-model="password.confarm" class="form-control">
								<button ng-click="vm.changePassword(password) ; password= ''" class=" btn btn-info">Confarm Change</button>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class=" component user_personal_info_container">
						<button ng-click="ShowAccountDeactivated = !ShowAccountDeactivated" class="btn btn-danger right">Deactivate Account</button>
						<div class="cp" ng-show="ShowAccountDeactivated">
								Inter Your Password To continue:
								<input type="password" ng-model="password" name="password" class="form-control">
								Your Account  Will be Permanently deleted 
								<button ng-click="vm.deactivate(password)" class=" btn btn-info">Confarm Change</button>
						</div>
					</div>						
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-12">
					<div class="login_nav_area component">
						<div class="edit_profile_link">
							<a class="btn btn-warning" href="#/home/{{vm.user.username}}">Cancel</a>
						</div>
						<div class="edit_profile_link_right">
							<a class="btn btn-primary" href="#/edit/{{vm.user.username}}">Save changes</a>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="linkfeed component">
						<div class="edit_info_container" >
							<!-- <ul class="edit_info">
								<li>
									<div class="item"><span class="edited_item">Name: </span>{{vm.user.name}}</div>
									<input type="text" name="" ng-model="vm.user.name" value="vm.user.name">
								</li>
								<li>
									<div class="item"><span class="edited_item">Email: </span>{{vm.user.email}}</div>
									<input type="text" name="" ng-model="vm.user.email" value="vm.user.name">
								</li>
								<li>
									<div class="item"><span class="edited_item">location: </span>{{vm.user.personal.location}}</div>
									<input type="text" name="" ng-model="vm.user.personal.location" value="vm.user.location">
								</li>
								<li>
									<div class="item"><span class="edited_item">sex: </span>{{vm.user.personal.sex}}</div>
									<select ng-model="vm.user.personal.sex" class="form-control">
									  <option>Male</option>
									  <option>Female</option>
									</select>
								</li>
							</ul> -->
								<form class="" ng-submit="vm.updateProfile(user)">
								 <div class="form-group">
								    <label for="name" >Full Name</label>
								    <input type="text" class="form-control" id="name" ng-model="user.name" placeholder="Name">
								  </div>
									<div class="form-group">
								    <label for="email">Email address</label>
								    <input type="email" ng-model="user.email" class="form-control" id="email" ng-model="user.email" placeholder="Email">
								  </div>
								  <div class="form-group">
								    <label for="mobile">Mobile</label>
								    <input type="tel" ng-model="user.mobile" class="form-control" id="mobile" placeholder="Mobile No">
								  </div>
								  <div class="form-group">
								    <label for="website">Website Url</label>
								    <input type="url" ng-model="user.website" class="form-control" id="website" placeholder="website Url">
								  </div>
								  <div class="form-group">
								  	<label class="">Location</label>
								    <label for="city">City</label>
								    <input type="text" ng-model="user.city" class="form-inline" id="city" placeholder="City">
								    <label for="counrty">Country</label>
								    <input type="text" ng-model="user.country" class="form-inline" id="counrty" placeholder="Country">
								  </div>
								 <label>Sex?</label>
							    <div class="form-group">
							        <div class="radio">
							            <label>
							                <input type="radio" name="sex" value="male" ng-model="user.sex">
							                Male
							            </label>
							        </div>
							        <div class="radio">
							            <label>
							                <input type="radio" name="sex" value="Female" ng-model="user.sex">
							                Female
							            </label>
							        </div>
							    </div>
								  <button type="submit" class="btn btn-default">Update</button>
							</form>
							
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>

<div class="container" >
	<div class="row">
		<div class="col-sm-9">
		
		</div>
	</div>
</div>

	<!-- 	<button ng-click="vm.test()"
	        class="btn btn-primary btn-block">
	    test
	</button> -->
