<div class="feedlist" ng-repeat="feed in vm.feedlist | orderBy:'-_id'">
	
	<a href="#/user/{{vm.user._id}}" class="profile">
		
		<div class="user_title">{{vm.user.name}}</div>
		<div class="profile_pic_feed">
			<img class="profile_pic" ng-src="uploads/{{vm.user.avater}}" alt="">
		</div>						
	</a>

	<div class=" post_feed">
		<span am-time-ago="">{{feed.created_at | amDateFormat:'DD MMMM  YYYY'}} at {{feed.created_at | amDateFormat: 'h:mm a'}}</span>
			<div class="feed_top">
				<h2 class="feed_title"><a href="#/weblink/{{feed._id}}">{{feed.title}}</a></h2>
				<div class="content_right">
					<div class="weblink_type">{{feed.type}}</div>		
				</div>				
			</div>
			<a target="_blank" href="{{feed.url}}">{{feed.url}}</a>
			<p>{{feed.description}}</p>
			<p></p>
	</div>
</div>