<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>{{ vm.sessionUser.name }}  page</h2>
			<p><button class="edit" ng-click="ShowEditProfile = !ShowEditProfile">Edit Profile</button></p>
		</div>
	</div>
</div>
<div class="container" ng-hide="ShowEditProfile">
	<div class="row">
		
		<div class="col-md-12" ng-if="vm.sessionUser">
			<h2>Profile page</h2>
			<h2>{{ vm.sessionUser.name }}  page</h2>
					
			<h2>Personal information</h2>
			<hr>
				<div class="left">
					<img ng-src="uploads/{{ vm.sessionUser.personal.avater }} " alt="{{vm.sessionUser.name}}"> <br>
					<small> {{vm.sessionUser.name}}  </small>
				</div>
				<div class="right">
					<h3>Name: {{vm.sessionUser.name}}  </h3>
					<h5> {{vm.sessionUser.sessionUsername }}  </h5>
					<h5>Location: {{vm.sessionUser.personal.location }}  </h5>
					<h5> Sex: {{vm.sessionUser.personal.sex }}  </h5>
					<h5> email: {{vm.sessionUser.personal.email }}  </h5>
					
					<p> Location: {{ vm.sessionUser.personal.location }}  </p>
					
				</div>
			
		</div>
	</div>
</div>

<!-- 	<div id="showEdit" class="container hidden">
	<div class="row">
		<h3>Edit Profile</h3>


		<div class="col-md-12">
	
			<form method= 'post' action="/user/:id/edit">
			<p>
				 Name: <input class="ename form-control" type="text" name="name" value="<%= sessionUser.name %>"> <br>
				age: <input class="eage form-control" type="text" name="age" value="<%= sessionUser.age %>"> <br>
				position: <input class="eposition form-control" type="text" name="position" value="<%= sessionUser.position %>"> <br>
				Avater: <input class="avater form-control " type="text" name="avater" value="<%= sessionUser.avater %>"> <br>
			</p>
				<p> <button rel="user/<%= sessionUser._id %>/edit"  class="updateUser btn btn-primary btn-lg btn-block">Update Profile</button></p>
		</form>
		<button class="show_change_p btn btn-default">Change Password</button>
		<div class="cp hidden">
			Old Password: <input type="password" name="old_password" class="form-control">
			New Password: <input type="password" name="new_password" class="form-control">
			Contarm New Password: <input type="password" name="new_password2" class="form-control">
			<button class="change_password btn btn-info">Confarm Change</button>
		</div>

		<button id="deactivate" rel="user/<%= sessionUser._id %>" class="btn btn-danger right">Deactivate Account</button>
		</div>
	</div>
</div> -->
	<div class="container" ng-hide="ShowEditProfile">
		<div class="row">
			<div class="col-md-12">
				<h2> Movie like {{ user.name }}</h2>
				<hr>

						
					<ul>	
						<li ng-repeat="mov in vm.movieLike" class="liked_movie">
							<div class="movie_thumb">
								<a href="/#/movie/{{mov._id}}"><img ng-src="{{mov.poster}}" alt="{{mov.title}}"></a>
							</div>								
								<div class="movie_thump_meta">
									<h5>{{mov.title}}</h5>
									<small>{{mov.year}}</small>
								</div>
						</li>				
					</ul>					
			</div>
		</div>
	</div>
	<div class="container" ng-hide="ShowEditProfile">
		<div class="row">
			<div class="col-md-12">
				<h2> Movie interest {{ current_user.name }}</h2>
				<hr>					
					<ul>						
							<li ng-repeat="mov in vm.movieInterest" class="liked_movie">
								<div class="movie_thumb">
									<a href="/#/movie/{{mov._id}}"><img ng-src="{{mov.poster}}" alt="{{mov.title}}"></a>
								</div>								
									<div class="movie_thump_meta">
										<h5>{{mov.title}}</h5>
										<small>{{mov.year}}</small>
									</div>
							</li>				
					</ul>				
			</div>
		</div>
	</div>
	<div class="container" ng-hide="ShowEditProfile">
		<div class="row">
			<div class="col-md-12">
				<h2> Movie watch {{ current_user.name }}</h2>
				<hr>					
				<ul>						
					<li ng-repeat="mov in vm.movieWatch" class="liked_movie">
						<div class="movie_thumb">
							<a href="/#/movie/{{mov._id}}"><img ng-src="{{mov.poster}}" alt="{{mov.title}}"></a>
						</div>								
							<div class="movie_thump_meta">
								<h5>{{mov.title}}</h5>
								<small>{{mov.year}}</small>
							</div>
					</li>				
				</ul>					
			</div>
		</div>
	</div>
	<div class="container" ng-hide="ShowEditProfile">
		<div class="row">
			<div class="col-md-12">
				<h2> Movie Added {{ current_user.name }}</h2>
				<hr>						
					<ul>						
						<li ng-repeat="mov in vm.movieAdded" class="liked_movie">
							<div class="movie_thumb">
								<a href="/#/movie/{{mov._id}}"><img ng-src="{{mov.poster}}" alt="{{mov.title}}"></a>
							</div>								
								<div class="movie_thump_meta">
									<h5>{{mov.title}}</h5>
									<small>{{mov.year}}</small>
								</div>
						</li>					
					</ul>				
			</div>
		</div>
	</div>
	<!-- <div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2> Movie Watched {{ current_user.name }}</h2>
				<hr>
	
						
					<ul ng-show="vm.user.movie">
						
							<li ng-repeat="mov in vm.user.movie" class="liked_movie">
								<div class="movie_thumb">
									<a href="/movie/{{mov._id}}"><img src="{{mov.poster}}" alt="{{mov.title}}"></a>
								</div>								
									<div class="movie_thump_meta">
										<h5>{{mov.title}}</h5>
										<small>{{mov.year}}</small>
									</div>
							</li>
					
					</ul>
					
			</div>
		</div>
	</div> -->

	<div class="container" ng-hide="ShowEditProfile">
		<div class="row">
			<div class="col-md-12">
				<h2 class="section-heading">Followings</h2>
				<ul>				
					<li class="avater_container" ng-repeat="followings in vm.followingUser">
						<a class="avater_small" ng-click="vm.getUserProfile(followings._id)" href="/#/user/{{followings._id}}">
							<img ng-src="{{followings.avater}}">
						</a>
						<a href="/#/user/{{followings._id}}">{{followings.name}}</a>
					</li>				
					<br>			
				</ul>
			</div>
		</div>
	</div>
	<div class="container" ng-hide="ShowEditProfile">
			<div class="row">
				<div class="col-md-12">
					<h2 class="section-heading">Followers</h2>
					<ul>				
						<li class="avater_container" ng-repeat="followers in vm.followerUser">
							<a class="avater_small" ng-click="vm.getUserProfile(followers._id)" href="/#/user/{{followers._id}}">
								<img ng-src="{{followers.avater}}">
							</a>
							<a href="/#/user/{{followers._id}}">{{followers.name}}</a>
						</li>
						
						<br>
					
					</ul>
				</div>
			</div>
	</div>


		
<div class="edit" ng-show="ShowEditProfile">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<button ng-click="ShowPassword = !ShowPassword" class="show_change_p btn btn-default">Change Password</button>
				<div>{{vm.status}}</div>
				<div class="cp" ng-show="ShowPassword">
						Old Password: <input type="password" ng-model="password.oldPassword" name="old_password" class="form-control">
						New Password: <input type="password" name="new_password" ng-model="password.newPassword" class="form-control">
						Contarm New Password: <input type="password" name="new_password2" ng-model="password.confarm" class="form-control">
						<button ng-click="vm.changePassword(password)" class=" btn btn-info">Confarm Change</button>
				</div>
			</div>
			<div class="col-sm-6">
				<button ng-click="vm.deactivate(sessionUser._id)" class="btn btn-danger right">Deactivate Account</button>
			</div>
		</div>
	</div>
	<div class="container" >
		<div class="row">
			<h2>Edit Personal information</h2>
			<div class="col-md-6">
				<div class="">{{vm.updateStatus}} </div>
				<div class="editProfile" >
					Name: <input ng-model="vm.user.name" class=" form-control" type="text" name="name" value="{{vm.sessionUser.name }} "> <br>
					Email: <input ng-model="vm.user.personal.email" class=" form-control" type="email" name="email" value="{{vm.sessionUser.personal.email }} "> <br>
					
					
		
				</div>
			</div>
			<div class="col-md-6">
				<div class="editProfile" >	
					<!-- Avater: <input ng-model="vm.user.personal.avater" class="form-control " type="text" name="avater" value="{{vm.sessionUser.personal.avater}} "> <br> -->
					<form action="user/avatar" method="post" enctype="multipart/form-data" class="form-group">
						<input type="file" name="profileAvater" class="form-control">
						<input  value="100px" name="width" style="display:none">
						<input  value="11" name="widgetID" style="display:none">

						<button type="submit" class="btn btn-primary">Upolad Image</button>
					</form>	
							<!-- file uppload using angular directive -->
							<div class="widget_avater">
								<form  name="vm.upload_form">
			                Select Or Drag a image to Upload
				            <input 
				               type="file" 
				               ngf-select 
				               ng-model="vm.file" 
				               name="file" 
				               ngf-pattern="'image/*'"
				               accept="image/*" 
				               ngf-max-size="2MB" 
				               />
				               Drop files: <div ngf-drop ng-model="files" class="drop-box">Drop
				              <div class="preview">
				              	 <img style="width:100px; height:100px;" ngf-thumbnail="vm.file || 'uploads/{{ vm.sessionUser.personal.avater }}'"/>
							            Profile Preview
							            <i ng-show="vm.upload_form.file.$error.required">*required</i><br>
							            <i ng-show="vm.upload_form.file.$error.maxSize">File too large 
							            {{vm.file.size / 1000000|number:1}}MB: max 20M</i>
				              </div>
				           </div>
				            <button type="submit" class="btn btn-primary" ng-click="vm.submit()">Upload Image</button>
				            <p>{{vm.progress}}
				        </form>
							</div>
							 
					
					Sex: <select ng-model="vm.user.personal.sex" class="form-control">
								  <option>Male</option>
								  <option>Female</option>
								</select>
					Location: <input ng-model="vm.user.personal.location" class="form-control " type="text" name="avater" value="{{ vm.sessionUser.personal.location}}"> <br>					
				</div>
			</div>
				<p> <button ng-click="vm.updateUser(vm.user)" class="updateUser btn btn-primary btn-lg btn-block">Update Profile</button></p>
		</div>
	</div>	
</div>
		