
<div class="container" >
	<div class="row">
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-12">
					<div class=" component user_personal_info_container">
						<div class="user_personal_info">
							<div class="profile_pic_home">
								<img src="uploads/{{vm.user.avater}}">
							</div>
							
							<hr>
							<div class="user_meta">
								<h2 class="profile_title">{{vm.user.name}}</h2>
								<ul class="user_info_list">
									<li>
										<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
										<span>{{vm.user.username}}</span>
									</li>
										<li ng-if="vm.user.sex">
										<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
										<span>{{vm.user.sex}}</span>
									</li>
									<li>
										<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
										Joined : <span>{{vm.join_at}}</span>
									</li>
									<li ng-if="vm.user.city">
										<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
										 <span>{{vm.user.city}}<span>,</span>{{vm.user.country}}</span>
									</li>
								</ul>
							</div>
							<hr>
							<ul class="user_counter">
								<li>Link Share<span>{{vm.userInfo.webLinkShare}}</span></li>
								<li>Registered <span>{{vm.userInfo.weblinkRegisterList}}</span></li>
								<li>Followers<span>{{vm.userInfo.followers}}</span></li>
								<li>Following<span>{{vm.userInfo.following}}</span></li>
							</ul>
							
						</div>
					</div>
					<div class="component">
						<div class="follow_component_header">
							<span class="glyphicon glyphicon-user custom_logo"></span>
							<h2 class="featurs_header"><a ui-sref=".followers">Follower</a></h2>
							<span>{{vm.userInfo.followers}}</span>
						</div>
						<div class="who_to_user_list top_follower">
							<ul>
								<li ng-repeat="follower in vm.topFollowers">
									<a href="#/user/{{follower._id}}">
									<img ng-src="uploads/{{follower.avater}}">
									<h4>{{follower.name}}</h4></a>
								</li>
							</ul>
						</div>									
					</div>
					<div class="component">
						<div class="follow_component_header">
							<span class="glyphicon glyphicon-user custom_logo"></span>
							<h2 class="featurs_header"><a ui-sref=".following">Following</a></h2>
							<span>{{vm.userInfo.following}}</span>
						</div>
						<div class="who_to_user_list top_follower">
							<ul>
								<li ng-repeat="following in vm.topFollowing">
									<a href="#/user/{{following._id}}">
									<img ng-src="uploads/{{following.avater}}">
									<h4>{{following.name}}</h4></a>
								</li>
							</ul>
						</div>									
					</div>
				</div>

			</div>
	
		</div>
		<div class="col-md-8">
			<div class="row">
					<div class="col-md-12">
					<div ng-if="vm.searchList" class=" component">
						<h2 class="search_title">Search Result for "{{vm.searchString}}"</h2>
						<div  class="search feedlist" ng-repeat="feed in vm.searchList">
							
							<div class="profile">
								<a ng-hide="vm.loginProfile" ui-sref="singleUser.feed({id:feed.createdBy._id})" class="">
									<div class="user_title">{{feed.createdBy.name}}</div>
									<div class="profile_pic_feed">
										<img class="profile_pic" ng-src="uploads/{{feed.createdBy.avater}}" alt="">
									</div>														
								</a>
									<a ng-show="vm.loginProfile" ui-sref="home.feed({username:feed.createdBy.username})" class="">
									<div class="user_title">{{feed.createdBy.name}}</div>
									<div class="profile_pic_feed">
										<img class="profile_pic" ng-src="uploads/{{feed.createdBy.avater}}" alt="">
									</div>														
								</a>
							</div>
							<div class=" post_feed">
								<p>{{feed.created_at}}</p>
								<div class="feed_top">
									<h2 class="feed_title"><a ui-sref="weblinkDetail({id:feed._id})">{{feed.title}}</a></h2>
									<div class="content_right">
										<div class="weblink_type">{{feed.type}}</div>
									</div>
								</div>
								
								<a href="{{feed.url}}">{{feed.url}}</a>
								<p>{{feed.description}}</p>
							</div>
						</div>
					</div>
					<div class="login_nav_area component">
						<ul class="login_nav">
							<li ui-sref-active="active"><a ui-sref=".feed">feed</a></li>
							<li ui-sref-active="active"><a ui-sref=".bookmarked">Bookmark</a></li>
							<li ui-sref-active="active"><a ui-sref=".weblinkRegisterList">registered</a></li>
							<!-- <li ui-sref-active="active"><a ui-sref=".following">following</a></li>
							<li ui-sref-active="active"><a ui-sref=".followers">followers</a></li> -->
						</ul>
						<div class="follow_action edit_profile_link_right">
								<button ng-show="!vm.following" ng-mouseover=vm.showContwxtMenu($event) ng-click= vm.makeFollowing(vm.user._id) class="btn btn-primary">Follow</button>
								<button ng-show="vm.following" ng-click= vm.makeUnfollow(vm.user._id) class="btn btn-danger">Unfollow</button>
							</div>						
					</div>
				</div>
				<div class="col-md-12">
					<div class="linkfeed component">
					<div ui-view></div>
						
					</div>
				</div>
			</div>

		</div>
	</div>
</div>



