<!-- 	<div class="feedlist" >
							
		<h2 class="content_header">registered page</h2>
		<ul class="content">
			<li ng-repeat= "register in vm.registered">
				<h2 class="content_title">
						<a href="#/weblink/{{register.weblinkId._id}}">{{register.weblinkId.title}}</a>
				</h2>
				<a target="_blank" href="{{register.weblinkId.url}}">{{register.weblinkId.url}}</a>
				<h4>ProfileUrl: <a target="_blank"  href="{{register.profileUrl}}">{{register.profileUrl}}</a></h4>
				<p class="content_description">{{register.weblinkId.description}}</p>
				<div class="feed_top">
						<h2 class=""><a href="#/weblink/{{register.weblinkId._id}}">view site details</a></h2>
						<div class="">{{register.username}}</div>
				</div>
			
			</li>
		</ul>


		</div> -->

<div class="feedlist" >
		
	<h2 class="content_header">Registered page</h2>

		<ul class="content">
			<li ng-repeat= "register in vm.registered | orderBy:'-_id'">
				<div class="clearfix">
					<div class="content_left">
						<h2 class="content_title">
							<a href="#/weblink/{{register.weblinkId._id}}">{{register.weblinkId.title}}</a>
						</h2>
						<a target="_blank" href="{{register.weblinkId.url}}">{{register.weblinkId.url}}</a>
						<h4 class="prfile_url">ProfileUrl: <a href="{{register.profileUrl}}">{{register.profileUrl}}</a></h4>
					</div>
					<div class="content_right">
						<div class="weblink_type">{{register.weblinkId.type}}</div>
					</div>
				</div>
			
				<p class="content_description">{{register.weblinkId.description}}</p>
			</li>
		</ul>
	</div>